<h3 class="ui header">{{t "forms.i-i-s-tvosem-рейс-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.куда
      class=(if (v-get validationModel "куда" "isInvalid") "error")
      label=(t "forms.i-i-s-tvosem-рейс-e.куда-caption")
      data-test-i-i-s-tvosem-рейс-e-куда=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "куда" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.откуда
      class=(if (v-get validationModel "откуда" "isInvalid") "error")
      label=(t "forms.i-i-s-tvosem-рейс-e.откуда-caption")
      data-test-i-i-s-tvosem-рейс-e-откуда=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "откуда" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-tvosem-рейс-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-tvosem-рейс-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.времяОтпр
      class=(if (v-get validationModel "времяОтпр" "isInvalid") "error")
      label=(t "forms.i-i-s-tvosem-рейс-e.времяОтпр-caption")
      data-test-i-i-s-tvosem-рейс-e-времяОтпр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "времяОтпр" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.начПосад
      class=(if (v-get validationModel "начПосад" "isInvalid") "error")
      label=(t "forms.i-i-s-tvosem-рейс-e.начПосад-caption")
      data-test-i-i-s-tvosem-рейс-e-начПосад=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "начПосад" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.конецПосад
      class=(if (v-get validationModel "конецПосад" "isInvalid") "error")
      label=(t "forms.i-i-s-tvosem-рейс-e.конецПосад-caption")
      data-test-i-i-s-tvosem-рейс-e-конецПосад=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "конецПосад" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.выход
      class=(if (v-get validationModel "выход" "isInvalid") "error")
      label=(t "forms.i-i-s-tvosem-рейс-e.выход-caption")
      data-test-i-i-s-tvosem-рейс-e-выход=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "выход" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-tvosem-рейс-e.инфБронь-caption"}}</label>
    {{flexberry-groupedit
      componentName="инфБроньGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.инфБронь
      content=model.инфБронь
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "инфБронь" "isInvalid") "error")
      data-test-i-i-s-tvosem-рейс-e-инфБронь=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "инфБронь" "message")}}
  </div>
</form>
